{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


 <div class="container modern-form">
        <div class="text-center">
            <h4 style="color: #212529;font-size: 45px;">Connexion</h4>
        </div>
        <hr class="modern-form__hr">
        <div style="padding-top: 30px;">
            <form>
                <div class="form-row" style="margin-top: 5px; ">
                    <div class="col">
                            <label for="inputEmail"></label>
                            <input type="email"  placeholder="Email" style="height: 50px;" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                            <label for="inputPassword" ></label>
                            <input type="password" placeholder="Mot de passe" style="height: 50px;" name="password" id="inputPassword" class="form-control" required>

                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >
                        </div>
                    </div>
                </div>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
         <div class="form-row" style="margin-top:50px">
                    <div class="col text-center">   
                      <button class="btn btn-secondary" type="submit">
                       Se connecter
                      </button>
                    </div>
        </div>

        </form>
        </div>
    </div>
{% endblock %}
