{{ form_start(form) }}
<div class="container modern-form">
        <div class="text-center">
            <h4 style="color: #212529;font-size: 45px;">Inscription</h4>
        </div>
        <hr class="modern-form__hr">
        <div class="modern-form__form-container">
            <form>
                <div class="form-row" style="height: 60px;">
                    <div class="col col-contact">
                        <div class="form-group modern-form__form-group--padding-r">{# <input class="form-control input input-tr" type="text" placeholder="First Name"> #}
                         {{ form_row(form.firstname,{'attr':{'class':'form-control input input-tr','placeholder':'Prénom'},'label':' '}) }}
                            <div class="line-box">
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-contact">
                        <div class="form-group modern-form__form-group--padding-l">{# <input class="form-control input input-tr" type="text" placeholder="Last Name"> #}
                             {{ form_row(form.lastname,{'attr':{'class':'form-control input input-tr','placeholder':'Nom'},'label':' '}) }}
                            <div class="line-box">
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row" style="margin-top: 5px;">
                    <div class="col">{# <input class="form-control input input-tr" type="text" placeholder="Email"> #}
                    {{ form_row(form.email,{'attr':{'class':'form-control input input-tr','placeholder':'Email'},'label':' '}) }}
                  {{ form_row(form.password,{'attr':{'class':'form-control input input-tr','placeholder':'Mot de passe'},'label':' '}) }}</div>
                </div>  

                 <div class="form-row" style="margin-top: 5px;">
                    <div class="col">
                  {{ form_row(form.address.street,{'attr':{'class':'form-control input input-tr','placeholder':'Adresse'},'label':' '}) }}
                  </div>
                </div> 
                <div class="form-row" style="height: 60px;">
                    <div class="col col-contact">
                        <div class="form-group modern-form__form-group--padding-r">{# <input class="form-control input input-tr" type="text" placeholder="First Name"> #}
                          {{ form_row(form.address.zipcode,{'attr':{'class':'form-control input input-tr','placeholder':'Code postal'},'label':' '}) }}
                            <div class="line-box">
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-contact">
                        <div class="form-group modern-form__form-group--padding-l">{# <input class="form-control input input-tr" type="text" placeholder="Last Name"> #}
                            {{ form_row(form.address.city,{'attr':{'class':'form-control input input-tr','placeholder':'Ville'},'label':' '}) }}
                            <div class="line-box">
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col text-center">   
                      {# <button class="btn btn-primary submit-now" type="submit">{{ button_label|default('S inscrire') }} #}
                      {{ form_row(form.submit,{'attr':{'class':'btn btn-primary submit-now'},'label':"S'inscrire"}) }}
                    </div>
                </div>
            {{ form_rest(form) }}
            </form>
        </div>
    </div>

{{ form_end(form) }}