{% extends 'base.html.twig' %}

{% block title %}Liste Clients{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user_client in user_clients %}
            <tr>
                <td>{{ user_client.id }}</td>
                <td>{{ user_client.email }}</td>
                <td>{{ user_client.firstname }}</td>
                <td>{{ user_client.lastname }}</td>
                <td>
                    <a href="{{ path('admin_client_edit', {'id': user_client.id}) }}" style="color:#009879">Modifier</a>
                    <a href="{{ path('admin_client_show', {'id': user_client.id}) }}" style="color:#009879; margin-left:30px;">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
