{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}

    <section class="d-flex d-xl-flex align-items-center align-items-xl-center" style="height: 650px;opacity: 1;background: url('/img/bann.png') no-repeat;background-size: cover;">
        <div style="width: 100%;">
            <div class="form-group d-xl-flex justify-content-xl-start align-items-xl-center" style="height: 50%;margin-left: 47px;width: 70%;"><input type="email" style="width: 50%;margin-right: 30px;height: 55px;border-radius: 5px;border-style: none;box-shadow: 3px 3px 4px rgba(0,0,0,0.5);"><button class="btn btn-primary" type="button" style="height: 56px;width: 151px;padding: 0px;padding-bottom: 0px;font-family: Roboto, sans-serif;font-size: 16px;background: rgb(255,255,255);color: rgb(0,0,0);border-style: none;box-shadow: 3px 3px 4px rgba(0,0,0,0.5);">TROUVER UN RESTAURANT&nbsp;</button></div>
        </div>
    </section>
    <h1 style="font-family: Roboto, sans-serif;font-size: 50px;margin-left: 25px;margin-top: 25px;margin-bottom: 50px;line-height: 47px;font-weight: bold;">Top restaurants</h1>
    <div class="row" style="width: 100%;">
        <div class="col text-center" style="width: 100%;"><img src="/img/pizza.jpg" style="height: 189px;clip-path: ellipse(50% 50%);width: 200px;">
            <h3 style="height: 47px;font-family: Roboto, sans-serif;font-size: 28px;margin-top: 10px;">Catégorie 1</h3>
        </div>
        <div class="col text-center" style="width: 100%;"><img src="/img/pizza.jpg" style="height: 189px;clip-path: ellipse(50% 50%);width: 200px;">
            <h3 style="height: 47px;font-family: Roboto, sans-serif;font-size: 28px;margin-top: 10px;">Catégorie 1</h3>
        </div>
        <div class="col text-center" style="width: 100%;"><img src="/img/pizza.jpg" style="height: 189px;clip-path: ellipse(50% 50%);width: 200px;">
            <h3 style="height: 47px;font-family: Roboto, sans-serif;font-size: 28px;margin-top: 10px;">Catégorie 1</h3>
        </div>
        <div class="col text-center" style="width: 100%;"><img src="/img/pizza.jpg" style="height: 189px;clip-path: ellipse(50% 50%);width: 200px;">
            <h3 style="height: 47px;font-family: Roboto, sans-serif;font-size: 28px;margin-top: 10px;">Catégorie 1</h3>
        </div>
        <div class="col text-center" style="width: 100%;"><img src="/img/pizza.jpg" style="height: 189px;clip-path: ellipse(50% 50%);width: 200px;">
            <h3 style="height: 47px;font-family: Roboto, sans-serif;font-size: 28px;margin-top: 10px;">Catégorie 1</h3>
        </div>
    </div>


    <h1 style="font-family: Roboto, sans-serif;font-size: 50px;margin-left: 25px;margin-top: 25px;margin-bottom: 50px;line-height: 47px;font-weight: bold;">Les meilleurs restaurants</h1>
    <div class="row text-left" style="width: 100%;margin-bottom: 50px;">
       
       {% for restorer in restorers %}
        {% if 'https' not in restorer.image  %} 
        <div class="col text-left" style="width: 100%;margin-left: 50px;">
                            {# NO TRESPASSING #}

                            {# CHAMP LIBRE #}
            <img src="{{ asset('uploads/' ~ restorer.image) }}" style="height: 237px;width: 429px;" alt=" {{restorer.restaurantName}}">
            <a href="{{ path('restaurant',{id:restorer.id}) }}"  style="color: black;" >
                <p style="margin-bottom:0px;font-family: Roboto, sans-serif;font-size: 18px;margin-top: 10px;font-weight:bold;">{{restorer.restaurantName}} • {{restorer.address.street}}, {{restorer.address.city}}.</p>
                <p>Frais : 2.50€ • Attente : 1 Heure</p>
            </a>
         </div>
          {% endif %}  
        {% endfor %}

        
    </div>



{% endblock %}
