{% extends 'base.html.twig' %}

{% block title %}Liste des plats{% endblock %}

{% block body %}
    <div class="text-center">
        <h4 style="color: #212529;font-size: 45px; margin-top:60px">Liste de mes plats</h4>
    </div>
    <hr class="modern-form__hr">
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for dish in dishes %}
            <tr>
                <td>{{ dish.nom }}</td>
                <td>{{ dish.description }}</td>
                <td>{{ dish.price }}</td>
                <td> <img src="{{ asset('uploads/' ~ dish.image) }}" style="height: 237px;width: 429px;" alt=" {{dish.nom}}"></td>
                <td>
{#                     <a href="{{ path('dish_show', {'id': dish.id}) }}">show</a> #}
                    <a href="{{ path('dish_edit', {'id': dish.id}) }}" style="color:#009879">Modifier</a>
                    <a href="{{ path('dish_delete', {'id': dish.id}) }}" style="color:#009879; margin-left:30px;">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Il n'y a pas de plats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#     <a href="{{ path('dish_new') }}">Create new</a> #}
{% endblock %}
