{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {{dump(app.user)}}
    <h1>Récapitulatif de votre commande</h1>

    {% if order %}
        <pre>
            {{ dump(order) }}
        </pre>
    {% else %}
    <p>Vous n'avez pas de commande !</p>
    {% endif %}
    <div>
    <h3>Mon Panier</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}

            <tr>
                <td>{{item.product.nom}}</td>
                <td>{{item.product.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.product.price * item.quantity}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total : </td>
                <td>{{ total }}</td>
                <td>€</td>
            </tr>
        </tfoot>
    </table>
    </div>
    
{% endblock %}
